<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Persona Aleatoria </title>
</head>
<body>

    <h1>Datos de una persona</h1>

    <p>Nombre: <span th:text="${persona.nombre}"></span></p>
    <p>Apellidos: <span th:text="${persona.apellidos}"></span></p>
    <p>DNI: <span th:text="${persona.dni}"></span></p>
    <p>Fecha Nacimiento: <span th:text="${persona.fechaNacimiento}"></span></p>
    <p>Edad: <span th:text="${persona.edad}"></span></p>

    <p><a th:href="@{/}">Volver a la página principal</a></p>

</body>
</html>