<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Listado de personas </title>
</head>
<body>

    <h1> Listado de 10 personas </h1>

    <table border="1">
        <thread>
            <tr>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>DNI</th>
                <th>Fecha de Nacimiento</th>
                <th>Edad</th>
            </tr>
        </thread>
            <tbody>
                <tr th:each="persona : ${personas}">
                    <td th:text="${persona.nombre}"></td>
                    <td th:text="${persona.apellidos}"></td>
                    <td th:text="${persona.dni}"></td>
                    <td th:text="${persona.fechaNacimiento}"></td>
                    <td th:text="${persona.edad}"></td>
                </tr>
            </tbody>
    </table>

    <p> <a th:href="@{/}">Volver a la pagina principal</a></p>

</body>
</html>